.deleteDogPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 200px;
    width: 450px;
    background: rgba( 255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    color: #3b3204;
    z-index: 1;
}

.deleteDogPopup div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.deleteDogPopup div input{
    background-color: #fff;
    font-size: 15px;
    color: #3b3204;
}

.deleteDogPopup div h3 {
    width: 100px;
    font-weight: 600;
}

.deleteDogPopup div button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
}

.deleteDogPopup div .confirmDelete {
    background-color: rgb(148, 51, 51);
    color: #fff;
}

.deleteDogPopup div .confirmDelete:hover {
    background-color: #fff;
    color: rgb(148, 51, 51);
    border: 1px solid rgb(148, 51, 51);
}

.deleteDogPopup div .cancelDelete {
    background-color: #fff;
    color: #167EA5;
    border: 1px solid #167EA5;
}

.deleteDogPopup div .cancelDelete:hover {
    background-color: #167EA5;
    color: #fff;
}

.deleteDogPopup .doggoName {
    font-weight: 600;
}